<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/vendor/bower_components/bootstrap/dist/css/bootstrap.css' />

    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap" charset="utf-8"></script>
    <script src="/vendor/bower_components/jquery/dist/jquery" charset="utf-8"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
